

<!--The content below is only a placeholder and can be replaced.-->
<header>
    <ul class="nav nav-pills">
       <li class="nav-item" >
         <a class="nav-link " routerLink="/home" routerLinkActive="active">HOME</a>
       </li>
       <li class="nav-item" >
         <a class="nav-link" routerLink="/user"  routerLinkActive="active">USER</a>
       </li>
       <li class="nav-item" >
         <a class="nav-link" routerLink="/form-create"  routerLinkActive="active">FORM CREATER</a>
       </li>
       <li class="nav-item" >
         <a class="nav-link" routerLink="/form-result"  routerLinkActive="active">FORM RESULT</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" routerLink="fdsfdsf"  routerLinkActive="active">404</a>
       </li>
   
     </ul>
   </header> 
   <div class="container">
   <router-outlet></router-outlet>
   </div>

