


<div *ngIf="user && userData && userId" class="col-md-8" >
  <form [formGroup]="formData" (submit)="onSubmit()">
    <h3>Main Info</h3>
    <div class="form-group row">
      
      <label for="item" class="col-sm-4 col-form-label">Email</label>
      <div class="col-sm-8">
        <input type="text" 
          readonly 
          id="item"
          name="Email"
          class="form-control-plaintext"
          [value]="user.email"
        >
      </div>
      <label for="item" class="col-sm-4 col-form-label">Email Verified</label>
      <div class="col-sm-8">
        <input type="text"
          readonly 
          id="item"
          name="emailVerified"
          class="form-control-plaintext"
          [(value)]="user.emailVerified"
        >
      </div>
      <label for="First_Name" class="col-sm-4 col-form-label">First Name</label>
      <div class="col-sm-8">
        <input type="text" 
          formControlName="First_Name"
          id="First_Name"
          class="form-control"
        >
        <div class="error" *ngIf="isControlInvalid('First_Name')">
          Имя должно состоять только из русских букв
        </div>
      </div>
      <label for="Last_Name" class="col-sm-4 col-form-label">Last Name</label>
      <div class="col-sm-8">
        <input type="text" 
          formControlName="Last_Name"
          id="Last_Name"
          class="form-control"
        >
      </div>
      <label for="phone" class="col-sm-4 col-form-label">Phone</label>
      <div class="col-sm-8">
        <input type="text" 
          (keypress)="keyPress($event)"
          formControlName="Phone" 
          id="phone"
          class="form-control"
        >
      </div>


    </div>
    <h3>Contact Info</h3>
    <div class="form-group row">
      <label for="city" class="col-sm-4 col-form-label">City</label>
      <div class="col-sm-8">
        <select class=" form-control" formControlName="City" id="select">
          <option selected disabled>Select</option>
          <option *ngFor="let city of citySvc.citys " [ngValue]="city.value">
            {{city.name}}
          </option>
        </select>
      </div>
      <br>
      <label for="Contact_Address" class="col-sm-4 col-form-label">Contact Address</label>
      <div class="col-sm-8">
        <input type="text" 
          formControlName="Contact_Address"
          id="Contact_Address"
          class="form-control"
        >
      </div>
    </div>
    <div class="btn-group">
      <button type="submit" class="btn btn-success " >Update</button>
    </div>
  </form>
</div>




