
<div *ngIf="user">{{user.uid}}</div>

<div class="col-md-4 offset-md-4  col-sm-6">

  <ul class="list-inline" *ngIf="!(authService.user )">
    <li class="list-inline-item " (click)="toggleTab(true)"  [ngClass]="{'active':area === true}"><h4>Login</h4> </li>
    <li class="list-inline-item float-right" (click)="toggleTab(false)" [ngClass]="{'active':area !== true}" ><h4>Registration</h4> </li>
  </ul>

  <!-- LOGIN  -->
  <div *ngIf="area">
    <div *ngIf="!(authService.user | async)">
      <input type="email" 
      id="male" 
      [(ngModel)]="email" 
      placeholder="email" 
      class="form-control"
      (focus)="focusFunction($event)"
      (focusout)="focusOutFunction($event)">
      <br>
      <input type="password"  
      minLength="6"
      id="password" 
      class="form-control"
      [(ngModel)]="password" 
      placeholder="password" 
      (focus)="focusFunction($event)"
      (focusout)="focusOutFunction($event)">
      <br>
      <button class="btn btn-success  btn-block"  (click)="login()" [disabled]="!email || !password">
        Login
      </button>
    </div>
  </div>

  <!-- RREGISTRATION  -->
  <div *ngIf="!area">
      <div *ngIf="!(authService.user | async)">
        <input type="email" 
          id="male" 
          [(ngModel)]="email" 
          placeholder="email" 
          class="form-control"
          (focus)="focusFunction($event)"
          (focusout)="focusOutFunction($event)">
        <br>
        <input type="password"  
          minLength="6"
          id="password" 
          class="form-control"
          [(ngModel)]="password" 
          placeholder="password" 
          (focus)="focusFunction($event)"
          (focusout)="focusOutFunction($event)">
        <br>
        <ngx-recaptcha2 
          #captchaElem
          [size]="size"
          [hl]="lang"
          [theme]="theme"
          [type]="type"
          (expire)="handleExpire()"
          (success)="handleSuccess($event)">
        </ngx-recaptcha2>
        <br>
        <button  class="btn btn-success  btn-block" (click)="signup()" [disabled]="!email || !password || !recaptcha">
          Signup
        </button>
      </div>
    </div>


</div>
