


<form #myForm="ngForm" novalidate  *ngIf="authSvc.authState " >

    <div class="row">
        <div class="col-md-6" *ngIf="!myForm.value.lease" style="margin: 0 auto; text-align: center;">
            <label class="col-2 col-form-label" for="checkbox1"><img src="https://image.ibb.co/gWixST/image.png" alt="image" border="0" class="img-with-border"></label> 
            <input type="checkbox" value="1" id="checkbox1"  name="sell" ngModel required hidden>
        </div>

        <div class="col-md-12" *ngIf="myForm.value.sell == 1">
            <!-- ЗАГОЛОВОК -->
            <div class="form-inline">
                <label class="col-2 col-form-label" for="title"><b>Заголовок<span class="required">*</span></b></label>
                <input class="form-control col-5" name="title" id="title" ngModel required minlength="10"  maxlength="70" />
                <span *ngIf="myForm.value.title">{{70 - myForm.value.title.length}} знаков осталось</span> 
            </div>

            <!-- ЦЕНА -->
            <div class="form-inline" >
                <label class="col-2 col-form-label" for="price"><b>Цена<span class="required">*</span></b></label>
                <input class="form-control col-2" name="price" id="price" ngModel required  (keypress)="keyPress($event)" />
                <select class="form-control " name="priceCurrency" ngModel required> 
                    <option value="" selected disabled>Выберите</option>
                    <option value="грн">грн</option>
                    <option value="$" selected>$</option>
                </select>
                <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="sales" ngModel> Договорная
                </label>
            </div>
            <!-- ТИП ОБЬЕКТА -->
            <div class="form-inline" >
                <label class="col-2 col-form-label" for="objectType"><b>Тип дома<span class="required">*</span></b></label>
                <select class="form-control col-3" name="objectType" id="objectType" ngModel>
                    <option value="" selected disabled>Выберите</option>
                    <option value="1" >Сталинка</option>
                    <option value="2" >Хрущевка</option>
                    <option value="3" >Чешка</option>
                </select> 
            </div>
            <!-- ЭТАЖ -->
            <div class="form-inline" >
                <label class="col-2 col-form-label" for="level"><b>Этаж<span class="required">*</span></b></label>
                <input class="form-control col-3" type="text" name="level" id="level" required maxlength="2" (keypress)="keyPress($event)" ngModel>
            </div>
            <!-- ЭТАЖНОСТЬ -->
            <div class="form-inline" >
                <label class="col-2 col-form-label" for="levelsInBuilding"><b>Этажность<span class="required">*</span></b></label>
                <input class="form-control col-3" type="text" name="levelsInBuilding" id="levelsInBuilding" required maxlength="2" (keypress)="keyPress($event)" ngModel>
            </div>
            <!-- ОБЩАЯ ПЛОЩАДЬ -->
            <div class="form-inline" >
                <label class="col-2 col-form-label" for="totalArea"><b>Общая площадь<span class="required">*</span></b></label>
                <input class="form-control col-3" type="text" name="totalArea" id="totalArea" required maxlength="4" (keypress)="keyPress($event)" ngModel><span>m<sup>2</sup></span>
            </div>
            <!-- ПЛОЩАДЬ КУХНИ -->
            <div class="form-inline" >
                <label class="col-2 col-form-label" for="kitchenArea"><b>Площадь кухни<span class="required">*</span></b></label>
                <input class="form-control col-3" type="text" name="kitchenArea" id="kitchenArea" required maxlength="3" (keypress)="keyPress($event)" ngModel><span>m<sup>2</sup></span>
            </div>
            <!-- ТИП СТЕН -->
            <div class="form-inline" >
                <label class="col-2 col-form-label" for="wallsType"><b>Тип стен</b></label>
                <select class="form-control col-3" name="wallsType" id="wallsType" ngModel>
                    <option value="" selected disabled>Выберите</option>
                    <option value="Кирпичный" >Кирпичный</option>
                    <option value="Панельный" >Панельный</option>
                    <option value="Монолитный" >Монолитный</option>
                    <option value="Газоблок" >Газоблок</option>
                </select> 
            </div>
            <!-- КОЛИЧЕСТВО КОМНАТ -->
            <div class="form-inline" >
                <label class="col-2 col-form-label" for="roomsCount"><b>Кол-во комнат<span class="required">*</span></b></label>
                <input class="form-control col-3" type="text" name="roomsCount" id="roomsCount" required maxlength="2" (keypress)="keyPress($event)" ngModel>
            </div>
            <!-- ПЛАНИРОВКА -->
            <div class="form-inline" >
                <label class="col-2 col-form-label" for="lay-out"><b>Планировка</b></label>
                <select class="form-control col-3" name="lay-out" id="lay-out" ngModel>
                    <option value="" selected disabled>Выберите</option>
                    <option value="Кирпичный" >Студия</option>
                    <option value="Пентхаус" >Пентхаус</option>
                    <option value="Многоуровневая" >Многоуровневая</option>
                    <option value="Малосемейка, гостинка" >Малосемейка, гостинка</option>
                </select> 
            </div>
            <!-- Санузел -->
            <div class="form-inline" >
                <label class="col-2 col-form-label" for="bathroom"><b>Санузел</b></label>
                <select class="form-control col-3" name="bathroom" id="bathroom" ngModel>
                    <option value="" selected disabled>Выберите</option>
                    <option value="Раздельный" >Раздельный</option>
                    <option value="Смежный" >Смежный</option>
                    <option value="2 и более" >2 и более</option>
                    <option value="Санузел отсутствует" >Санузел отсутствует</option>
                </select> 
            </div>
            <!-- Отопление -->
            <div class="form-inline" >
                <label class="col-2 col-form-label" for="heating"><b>Отопление</b></label>
                <select class="form-control col-3" name="heating" id="heating" ngModel>
                    <option value="" selected disabled>Выберите</option>
                    <option value="Централизованное" >Централизованное</option>
                    <option value="Собственная котельная" >Собственная котельная</option>
                    <option value="Индивидуальное газовое" >Индивидуальное газовое</option>
                    <option value="Индивидуальное электро" >Индивидуальное электро</option>
                </select> 
            </div>
            <!-- РЕМОНТ -->
            <div class="form-inline" >
                <label class="col-2 col-form-label" for="remodeling"><b>Ремонт</b></label>
                <select class="form-control col-3" name="remodeling" id="remodeling" ngModel>
                    <option value="" selected disabled>Выберите</option>
                    <option value="Авторский проект" >Авторский проект</option>
                    <option value="Евроремонт" >Евроремонт</option>
                    <option value="Косметический ремонт" >Косметический ремонт</option>
                    <option value="Жилое состояние" >Жилое состояние</option>
                    <option value="После строителей" >После строителей/option>
                    <option value="Под чистовую отделку" >Под чистовую отделку</option>
                    <option value="Аварийное состояние" >Аварийное состояние</option>
                </select> 
            </div>
            <!-- МЕБЛИРОВАНИЕ -->
            <div class="form-inline" >
                <label class="col-2 col-form-label" for="furnishing"><b>Меблирование</b></label>
                <select class="form-control col-3" name="furnishing" id="furnishing" ngModel>
                    <option value="" selected disabled>Выберите</option>
                    <option value="Да" >Да</option>
                    <option value="Нет" >Нет</option>
                </select> 
            </div>
            <!-- КОМФОРТ --> 
            <div class="form-inline">
                <label class="col-2 col-form-label"><b>Комфорт</b></label>
                <input class="form-control" type="checkbox" name="heated_floors" id="heated_floors" ngModel><label class="form-check-label" for="heated_floors">Подогрев пола</label>
                <input class="form-control" type="checkbox" name="balcony" id="balcony" ngModel.comfort><label class="form-check-label" for="balcony">Балкон</label>
            </div>

        </div>









        <!-- АРЕНДА -->
        <div class="col-md-6 float-right" *ngIf="!myForm.value.sell" style="margin: 0 auto; text-align: center;"> 
            <label for="checkbox2"><img src="https://image.ibb.co/drQ5E8/image.png" alt="image" border="0"  class="img-with-border"></label> 
            <input type="checkbox" value="2" id="checkbox2"  name="lease" ngModel required hidden>
        </div>
         
        <div class="col-md-12" *ngIf="myForm.value.lease">
            <div class="form-group " >
                <label>Город2</label>
                <select class="form-control" name="city2" ngModel required>
                    <option value="" selected disabled>Select</option>
                    <option value="1">Киев</option>
                    <option value="2">Днепр</option>
                </select>
            </div>
        </div>
    </div>

    <div>
<div class="form-group"><label>File</label>
    <input type="file" name="file" ngModel (change)="getFiles($event)">
</div>
    </div>


    <div class="form-group">
       <button (click)="onSubmit(myForm)" >Отправить</button>
    </div>
</form>